.header {
    border-bottom: solid 1px #dddddd;
    top: 0px;
    height: 60px;
    padding-bottom: -1px;
    width: 100%;
    background-color: #fdfdfd;
    position: fixed;
    z-index: 1;
    
    &__contents {
        height: 50px;
    }

    &__login {
        cursor: pointer;
        position: fixed;
        padding: 5px 50px;
        top: 10px;
        right: 50px;
        background-color: #d7ffdd;
        border-radius: 15px;
        font-size: 25px;
        outline: none;
    }
}